.fonServer{
    background: gray;
   background-size:cover;
  }


.bod{
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;
    
}



.list{
   
   background:green
}


 /* @media (min-width: 1920px) {
   
  }
  
  @media (min-width: 1200px) and (max-width: 1919px) {
 
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  
  @media (min-width: 768px) and (max-width: 991px) {

  }
  
  @media (min-width: 480px) and (max-width: 767px) {

  }
  
  @media (min-width: 320px) and (max-width: 479px) {
  } */