@font-face {
  font-family: 'MyFont';
  src: url('/fonts/tucsonone.woff2') format('woff2'),
       url('/fonts/tucsonone.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fon{
  background: url("../../public//img/fonMain.png");
 background-size:cover;
}

.header{
  grid-area: 1/1/2/25;
  
}

.mainPageDiv {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(12, 1fr);
  min-height: 100vh;
  
}

.forma {
  grid-area: 2/10/5/17;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  border: solid 2px rgb(30, 255, 0);
  box-shadow: 20px 20px 40px rgb(30, 255, 0);

}

.inputText {
  grid-area: 2/1/4/13;
  background-color: #2d2c2c;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.inputPassword {
  grid-area: 5/1/7/13;
  background-color: #2d2c2c;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.inputPassword2 {
  grid-area: 8/1/10/13;
  background-color: #2d2c2c;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.button {
  grid-area: 11/2/13/12;
  background-color:  rgb(30, 255, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'MyFont';

}

.linkComp{
  grid-area: 14/4/15/10;
  order: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  font-family: 'MyFont';
}

@media(1368px <=width <= 1920px) {
  .forma {
    grid-area: 2/11/5/15;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 0.5px rgb(30, 255, 0);
    box-shadow: 20px 20px 40px rgb(30, 255, 0);
    background-color: #151414;
  }

}

@media(1200px <=width <= 1367px) {
  .forma {
    grid-area: 2/10/5/16;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 0.5px rgb(30, 255, 0);
    box-shadow: 20px 20px 40px rgb(30, 255, 0);
    background-color: #151414;
  }

}


@media(1024px <=width <= 1199px) {
  .forma {
    grid-area: 2/9/5/17;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 0.5px rgb(30, 255, 0);
    box-shadow: 20px 20px 40px rgb(30, 255, 0);
    background-color: #151414;
  }
}

@media(800px <=width <= 1023px) {
  .forma {
    grid-area: 2/10/5/17;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 0.5px rgb(30, 255, 0);
    box-shadow: 20px 20px 40px rgb(30, 255, 0);
    background-color: #151414;
  }
}

@media(680px <=width <= 799px) {
  
  .forma {
    grid-area: 2/10/5/17;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      border: solid 0.5px rgb(30, 255, 0);
      box-shadow: 20px 20px 40px rgb(30, 255, 0);
      background-color: #151414;
    }
  
  
  }

  @media(500px <=width <= 679px) {
    .forma {
      grid-area: 2/9/5/18;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      border: solid 1px rgb(30, 255, 0);
    
    }
  }

@media(420px <=width <= 499px) {
  .forma {
    grid-area: 2/8/5/19;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border: solid 1px rgb(30, 255, 0);

  }
}

@media(280px <=width <= 419px) {
  .forma {
    grid-area: 2/7/5/20;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(13, 1fr);
    border: solid 1px rgb(30, 255, 0);

  }

  .button {
    font-size: 12px;
  }
  
  .linkComp{
    font-size: 12px;;
  }
}

